<library path="src">
  <class name="Distribution" type="rqt_distribution.distribution.Distribution" base_class_type="rqt_gui_py::Plugin">
    <description>
      An example Python GUI plugin to create a great user interface.
    </description>
    <qtgui>
      <group>
        <label>Visualization</label>
      </group>
      <label>Distribution</label>
      <icon type="theme">system-help</icon>
      <statustip>Great user interface to provide real value.</statustip>
    </qtgui>
  </class>
</library>
